/lib/*.ppu
/lib/*.a
/lib/*.o
/release/*.svg
/release/*.iso
/bin/*.bin
/iso/boot/asuro.bin
/*.iso
/*.md5
/*.sh~
/*.img
src/include/asuro.pas
localenv.json
/lvgl/
dockerout.txt
AGENTS.md
lessons_learnt.md
*.log
/doc/*.md