# Map all Aaron identities to a single preferred identity
Aaron Hance <ah@aaronhance.me> aaron <aaron@6dbc8c32-bb84-406f-8558-d1cf31a0ab0c>
Aaron Hance <ah@aaronhance.me> aaronhance <ah@aaronhance.me>
Aaron Hance <ah@aaronhance.me> aaron hance <ah@aaronhance.me>
Aaron Hance <ah@aaronhance.me> Aaron <ah@aaronhance.me>

# Map all Kieron identities to a single preferred identity
Kieron Morris <kjm@kieronmorris.me> kieron <kieron@6dbc8c32-bb84-406f-8558-d1cf31a0ab0c>
Kieron Morris <kjm@kieronmorris.me> Kieron <kjm@kieronmorris.me>
Kieron Morris <kjm@kieronmorris.me> t3hn3rd <kjm@kieronmorris.me>

# Map goose's multiple identities
goose <goose@6dbc8c32-bb84-406f-8558-d1cf31a0ab0c> goose <angus@actm.uk>
